* {
    margin: 0;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: center;
}

#control {
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    display: flex;
    width: 500px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px;
}

#grid {
    width: fit-content;
    background-color: gray;
    padding: 1px;
}

.row {
    line-height: 0px;
}

.cell {
    width: 1vw;
    height: 1vw;
    margin: 1px;
    display: inline-block;
}

.onstate1 {
    background-color: black;
}

.onstate0 {
    background-color: white;
}